.player-container{
    border: 3px solid rgb(211, 5, 41);
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    background-color: rgba(240, 248, 255, 0.5);
    max-width: 300px;    
    display: flex; /* Utiliser la flexbox */
    flex-direction: column;
    justify-content: center; /* Centrer horizontalement */
    align-items: center;
}
.iconeBlesse{
    max-width: 20px;
}