<div class="player-container">
    <h2>Player : </h2>
    <h2>Prénom : {{firstName}}</h2>
    <h2>Nom : {{lastName}}</h2>
    <p *ngIf="blesse==true">Est bléssé <img class="iconeBlesse" [src]="imageBlesse" alt="blessé"></p>
    <p>Equipe : {{team}}</p>
    <p>poste : {{poste}}</p>
    <p>prix : {{prix}} M$</p>
    <p>bléssé : {{blesse}}</p> 
    <p>points : {{points}}</p>
    <p>rebonds : {{rebonds}}</p>
    <p>assist : {{assist}}</p>
    <p>interceptions : {{interceptions}}</p>
    <p>contres : {{contres}}</p>
    <p>minutesEnJeux : {{minutesEnJeux}}</p>
    <p>pourcentageJoues : {{pourcentageJoues}}%</p>
</div>